
.depicter-revert .depicter-1-element-12:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-1-element-12 .depicter-symbol-container{
	fill:#000;
	transition:all ease 1s;
}
.depicter-1-element-12:hover .depicter-symbol-container{
	fill:#717171;
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-1-element-13 .depicter-symbol-container{
	fill:#000;
	transition:all ease 1s;
}
.depicter-1-element-13:hover .depicter-symbol-container{
	fill:#717171;
}
.depicter-revert .depicter-1-element-11{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-10{
	font-size:12px;
	color:#000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:2px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-10:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-1-element-10:not(.depicter-hover-off):hover {
	color:#FFAD6F;
	border-color:#000;
}
.depicter-revert .depicter-1-element-9{
	opacity:0.7;
	font-size:15px;
	color:#000;
	font-family:"Urbanist";
	font-weight:500;
	line-height:150%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-8{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-7{
	font-size:59px;
	color:#000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:-4px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-6{
	font-size:59px;
	color:#000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:-4px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-4{
	background-color:#FFAD6F;
}
.depicter-revert .depicter-1-element-4:not(.depicter-hover-off){
	transition-property:none;
}
.depicter-revert .depicter-1-element-5{
	background-color:#F4F4F4;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-24{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-23{
	font-size:12px;
	color:#000000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:2px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-23:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-1-element-23:not(.depicter-hover-off):hover {
	color:#FFAD6F;
	border-color:#000000;
}
.depicter-revert .depicter-1-element-22{
	opacity:0.7;
	font-size:15px;
	color:#000000;
	font-family:"Urbanist";
	font-weight:500;
	line-height:150%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-21{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-20{
	font-size:59px;
	color:#000000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:-4px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-19{
	font-size:59px;
	color:#000000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:-4px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-17{
	background-color:#FFAD6F;
}
.depicter-revert .depicter-1-element-18{
	background-color:#F4F4F4;
}
.depicter-revert .depicter-1-section-14 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-39{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-38{
	font-size:12px;
	color:#000000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:2px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-38:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-1-element-38:not(.depicter-hover-off):hover {
	color:#FFAD6F;
	border-color:#000000;
}
.depicter-revert .depicter-1-element-37{
	opacity:0.7;
	font-size:15px;
	color:#000000;
	font-family:"Urbanist";
	font-weight:500;
	line-height:150%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-36{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-35{
	font-size:59px;
	color:#000000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:-4px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	font-size:59px;
	color:#000000;
	font-family:"Urbanist";
	font-weight:900;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:-4px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-32{
	background-color:#FFAD6F;
}
.depicter-revert .depicter-1-element-33{
	background-color:#F4F4F4;
}
.depicter-revert .depicter-1-section-29 .depicter-section-background{
	background-color:#FFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-7{
	font-size:54px;
}
.depicter-revert .depicter-1-element-6{
	font-size:54px;
}
.depicter-revert .depicter-1-element-20{
	font-size:54px;
}
.depicter-revert .depicter-1-element-19{
	font-size:54px;
}
.depicter-revert .depicter-1-element-35{
	font-size:54px;
}
.depicter-revert .depicter-1-element-34{
	font-size:54px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-9{
	font-size:12px;
}
.depicter-revert .depicter-1-element-7{
	font-size:40px;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-6{
	font-size:39px;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-22{
	font-size:12px;
}
.depicter-revert .depicter-1-element-20{
	font-size:40px;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-19{
	font-size:39px;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-37{
	font-size:12px;
}
.depicter-revert .depicter-1-element-35{
	font-size:40px;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-34{
	font-size:39px;
	letter-spacing:-3px;
}

}
