
.depicter-revert.depicter-16 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-16-element-38{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:50% 50% 50% 50%;
}
.depicter-16-element-38 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-16-element-16{
	font-size:80px;
	background-image:linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 56%, #FFFFFF 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:"Roboto";
	font-weight:500;
	line-height:84%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-13{
	opacity:0.7;
	font-size:16px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-12{
	opacity:0.7;
	font-size:16px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-11{
	font-size:20px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-10{
	font-size:20px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-9{
	background-color:#ffffff;
}
.depicter-revert .depicter-16-element-8{
	opacity:1;
	font-size:16px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-3{
	font-size:80px;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:500;
	line-height:84%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-section-1 .depicter-bg-video-container{
	background-color:#FFF;
}
.depicter-revert .depicter-16-element-25{
	font-size:80px;
	background-image:linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 56%, #FFFFFF 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:"Roboto";
	font-weight:500;
	line-height:84%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-24{
	opacity:0.7;
	font-size:16px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-23{
	opacity:0.7;
	font-size:16px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-22{
	font-size:20px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-21{
	font-size:20px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-20{
	background-color:#ffffff;
}
.depicter-revert .depicter-16-element-19{
	opacity:1;
	font-size:16px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-18{
	font-size:80px;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:500;
	line-height:84%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-section-17 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-16-element-35{
	font-size:80px;
	background-image:linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 56%, #FFFFFF 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:"Roboto";
	font-weight:500;
	line-height:84%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-34{
	opacity:0.7;
	font-size:16px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-33{
	opacity:0.7;
	font-size:16px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-32{
	font-size:20px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-31{
	font-size:20px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-30{
	background-color:#ffffff;
}
.depicter-revert .depicter-16-element-29{
	opacity:1;
	font-size:16px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-28{
	font-size:80px;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:500;
	line-height:84%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-section-27 .depicter-bg-video-container{
	background-color:#FFFFFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-16-element-38{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-16-element-38 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-16-section-1 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-16-element-25{
	font-size:80px;
	background-image:linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 56%, #FFFFFF 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:"Roboto";
	font-weight:500;
	line-height:84%;
	text-transform:uppercase;
}
.depicter-revert .depicter-16-section-17 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-16-element-35{
	font-size:80px;
	background-image:linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 56%, #FFFFFF 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:"Roboto";
	font-weight:500;
	line-height:84%;
	text-transform:uppercase;
}
.depicter-revert .depicter-16-section-27 .depicter-bg-video-container{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-16-element-38{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-16-element-38 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-16-element-16{
	font-size:40px;
	background-image:linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 62%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:"Roboto";
	font-weight:500;
	line-height:90%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-13{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-12{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-11{
	font-size:16px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
}
.depicter-revert .depicter-16-element-10{
	font-size:16px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
}
.depicter-revert .depicter-16-element-8{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-3{
	font-size:40px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:500;
	line-height:90%;
	text-transform:uppercase;
}
.depicter-revert .depicter-16-section-1 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-16-element-25{
	font-size:40px;
	background-image:linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 62%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:"Roboto";
	font-weight:500;
	line-height:90%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-24{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-23{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-22{
	font-size:16px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
}
.depicter-revert .depicter-16-element-21{
	font-size:16px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
}
.depicter-revert .depicter-16-element-19{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-18{
	font-size:40px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:500;
	line-height:90%;
	text-transform:uppercase;
}
.depicter-revert .depicter-16-section-17 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-16-element-35{
	font-size:40px;
	background-image:linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 62%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:"Roboto";
	font-weight:500;
	line-height:90%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-16-element-34{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-33{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-32{
	font-size:16px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
}
.depicter-revert .depicter-16-element-31{
	font-size:16px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:700;
	line-height:84%;
	text-transform:capitalize;
}
.depicter-revert .depicter-16-element-29{
	font-size:12px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:400;
	line-height:137%;
}
.depicter-revert .depicter-16-element-28{
	font-size:40px;
	color:#ffffff;
	font-family:"Roboto";
	font-weight:500;
	line-height:90%;
	text-transform:uppercase;
}
.depicter-revert .depicter-16-section-27 .depicter-bg-video-container{
	background-color:#FFFFFF;
}

}
