
.depicter-revert .depicter-5-element-14{
	background-color:#FFFFFF;
	border:none;
	border-radius:8px 8px 8px 8px;
}
.depicter-revert .depicter-5-element-14:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-5-element-14:not(.depicter-hover-off):hover {
	background-color:#222222;
}
.depicter-5-element-14 .depicter-symbol-container{
	fill:#EB802A;
	transition:all ease 0.5s;
}
.depicter-5-element-14:hover .depicter-symbol-container{
	fill:#ffffff;
}
.depicter-revert .depicter-5-element-15{
	background-color:#FFF;
	border:none;
	border-radius:8px 8px 8px 8px;
}
.depicter-revert .depicter-5-element-15:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-5-element-15:not(.depicter-hover-off):hover {
	background-color:#222222;
}
.depicter-5-element-15 .depicter-symbol-container{
	fill:#EB802A;
	transition:all ease 0.5s;
}
.depicter-5-element-15:hover .depicter-symbol-container{
	fill:#ffffff;
}
.depicter-revert .depicter-5-element-11{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-10{
	font-size:20px;
	text-align:left;
	color:#FFF;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-9{
	opacity:0.993;
	font-size:38px;
	text-align:left;
	color:#FFF;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-section-1 .depicter-section-background{
	background-color:#FFF;
	filter:none;
}
.depicter-revert .depicter-5-element-35{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-34{
	font-size:20px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-33{
	font-size:76px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-section-32 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-5-element-43{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-42{
	font-size:20px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-41{
	font-size:76px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-section-40 .depicter-section-background{
	background-color:#FFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-5-element-14{
	background-color:#FFFFFF;
}
.depicter-5-element-14 .depicter-symbol-container{
	fill:#EB802A;
}
.depicter-revert .depicter-5-element-15{
	background-color:#FFFFFF;
}
.depicter-5-element-15 .depicter-symbol-container{
	fill:#EB802A;
}
.depicter-revert .depicter-5-element-10{
	font-size:16px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-9{
	font-size:51px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-5-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-5-element-34{
	font-size:16px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-33{
	font-size:51px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-5-section-32 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-5-element-42{
	font-size:16px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-41{
	font-size:51px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-5-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-5-element-14{
	background-color:#FFFFFF;
}
.depicter-5-element-14 .depicter-symbol-container{
	fill:#EB802A;
}
.depicter-revert .depicter-5-element-15{
	background-color:#FFFFFF;
}
.depicter-5-element-15 .depicter-symbol-container{
	fill:#EB802A;
}
.depicter-revert .depicter-5-element-10{
	font-size:12px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-5-element-9{
	font-size:27px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-5-element-34{
	font-size:12px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-5-element-33{
	font-size:27px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-5-section-32 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-5-element-42{
	font-size:12px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-5-element-41{
	font-size:27px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-5-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}

}
